/MIPS32.sim.rpt
/MIPS32.archive.rpt
/MIPS32.asm.rpt
/MIPS32.db_export.rpt
/MIPS32.done
/MIPS32.eda.rpt
/MIPS32.fit.rpt
/MIPS32.fit.smsg
/MIPS32.fit.summary
/MIPS32.flow.rpt
/MIPS32.jdi
/MIPS32.map.rpt
/MIPS32.map.smsg
/MIPS32.map.summary
/MIPS32.pin
/MIPS32.pof
/MIPS32.sof
/MIPS32.sta.rpt
/MIPS32.sta.summary
